@import url('bootstrap.min.css');
@import url('https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import '_variable';

body,
input,
textarea,
select,
button {
  font-family: 'Lato', sans-serif;
}
body {
  overflow-x: hidden;
  background-color: #fff;
}

h4,
h5,
.h4,
.h5,
.bold {
  font-weight: 700;
}

h4,
.h4 {
  font-size: $ruler-lead;
}

a,
p.bold {
  color: $color-blue;
}

a {
  text-decoration: none !important;
}

header {
  border-bottom: 1px solid #efefef;
}

.f-large {
  font-size: large;
}

.f-larger {
  font-size: larger;
}

.btn {
  &-sm {
    border-radius: $ruler-base;
    padding: $ruler-ty $ruler-base;
  }
  &-primary {
    background-color: $color-blue;
    border-color: $color-blue;
  }
  &-danger {
    background-color: $color-red;
    border-color: $color-red;
  }
  &-link {
    color: $color-blue;
  }
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 0%;
  background: #fff;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  background: $color-dark-blue;
  top: 3px;
  left: 3px;
  border-radius: 0%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.vertical-line {
  width: 1px;
  display: flex;
  background-color: #d4d4d4;
}

.text {
  &-danger {
    color: $color-red;
  }
  &-primary {
    color: $color-blue !important;
  }
  &-black {
    color: #2a2b2b;
  }
}

.hide {
  display: none;
}

.show {
  display: inline-flex;
}

.container {
  @media (min-width: 1200px) {
    max-width: 100% !important;
  }
}

img {
  width: 100%;
}

img.logo {
  height: 42px;
  @media screen and (max-width: 767px) {
    height: 32px;
  }
}

.p-sticky {
  position: -webkit-sticky !important; /* Safari */
  position: sticky !important;
  top: 30px;
}

.h-100 {
  min-height: 60vh;
}

.btn-blue {
  background-color: #3c8dbc !important;
  border: #3c8dbc;
  color: white;
}

.btn-blue:not(:disabled):not(.disabled).active,
.btn-blue:not(:disabled):not(.disabled):active,
.show > .btn-blue.dropdown-toggle {
  box-shadow: 0 0 0 0.2rem #9aceec !important;
}

.btn-blue.focus,
.btn-blue:focus {
  box-shadow: 0 0 0 0.2rem #2e7aa7;
}

.btn-outline-blue {
  color: #3c8dbc;
  background-color: transparent;
  background-image: none;
  border-color: #3c8dbc;
}

.btn-outline-blue:hover {
  color: #fff;
  background-color: #3c8dbc;
  border-color: #3c8dbc;
}

.btn-outline-blue:not(:disabled):not(.disabled).active,
.btn-outline-blue:not(:disabled):not(.disabled):active,
.show > .btn-outline-blue.dropdown-toggle {
  color: #fff;
  background-color: #3c8dbc;
  border-color: #3c8dbc;
}

.btn-outline-blue.focus,
.btn-outline-blue:focus {
  box-shadow: 0 0 0 0.2rem #3c8dbc;
}

.btn-outline-blue:not(:disabled):not(.disabled).active:focus,
.btn-outline-blue:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-blue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #3c8dbc;
}

.shake:hover > .icon {
  animation: bellshake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  backface-visibility: hidden;
  transform-origin: top right;
}

@keyframes bellshake {
  0% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(5deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  45% {
    transform: rotate(4deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(2deg);
  }
  85% {
    transform: rotate(-2deg);
  }
  92% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}

.dot {
  top: 0;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}

.modal-open {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.73);
  z-index: 9999;
}

.modal-dialog {
  pointer-events: all !important;
}

.modal-content {
  background: white;
}

.text-blink {
  animation-name: blinker;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn-orange {
  background-color: #f58634 !important;
  border: #f58634;
  color: white;
}

.btn-orange:not(:disabled):not(.disabled).active,
.btn-orange:not(:disabled):not(.disabled):active,
.show > .btn-orange.dropdown-toggle {
  box-shadow: 0 0 0 0.2rem #f58634 !important;
}

.btn-orange.focus,
.btn-orange:focus {
  box-shadow: 0 0 0 0.2rem #f58634;
}

.text-orange {
  color: #f58634 !important;
}

.text-orange:hover {
  color: #f39959;
}

.btn-outline-orange {
  color: #f58634;
  background-color: transparent;
  background-image: none;
  border-color: #f58634;
}

.btn-outline-orange:hover {
  color: #fff;
  background-color: #f39959;
  border-color: #f39959;
}

.btn-outline-orange:not(:disabled):not(.disabled).active,
.btn-outline-orange:not(:disabled):not(.disabled):active,
.show > .btn-outline-orange.dropdown-toggle {
  color: #fff;
  background-color: #f58634;
  border-color: #f58634;
}

.btn-outline-orange.focus,
.btn-outline-orange:focus {
  box-shadow: 0 0 0 0.2rem #97caff;
}

.btn-outline-orange:not(:disabled):not(.disabled).active:focus,
.btn-outline-orange:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-orange.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #f58634;
}

.user-tool {
  display: flex;
  justify-content: flex-end;
  width: inherit;

  .user-tool-btn {
    border: 0;
    outline: 0;
    cursor: pointer;
    background: transparent;

    &:focus,
    &:active {
      .dropdown {
        opacity: 1;
        z-index: 1300;
        visibility: visible;
        transform: translate(0, 20px);
      }
    }

    .dropdown {
      top: 50%;
      right: 0px;
      min-width: max-content;
      max-height: 400px;
      overflow: hidden;
      overflow-y: auto;
      padding: 10px 0px;
      position: absolute;
      background: $color-grey-light;
      opacity: 0;
      text-align: left;
      visibility: hidden;
      border-radius: 4px;
      transition: 0.3s ease;
      list-style-type: none;
      box-shadow: 0 4px 12px rgba($color-dark-blue, 0.1);

      &:before {
        content: '';
        position: absolute;
        top: -6px;
        right: 6px;
        width: 0;
        height: 0;
        z-index: 1300;
        box-shadow: 2px -2px 6px rgba($color-dark-blue, 0.05);
        border-top: 6px solid $color-grey-light;
        border-right: 6px solid $color-grey-light;
        border-bottom: 6px solid transparent;
        border-left: 6px solid transparent;
        transform: rotate(-45deg);
        mix-blend-mode: multiple;
      }

      &::-webkit-scrollbar {
        background-color: #f9fafc;
        width: 16px;
      }

      &::-webkit-scrollbar-track {
        background-color: #f9fafc;
      }
      &::-webkit-scrollbar-track:hover {
        background-color: #f4f4f4;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #babac0;
        border-radius: 16px;
        border: 5px solid #f9fafc;
      }
      &::-webkit-scrollbar-thumb:hover {
        background-color: #a0a0a5;
        border: 4px solid #f4f4f4;
      }

      &::-webkit-scrollbar-button {
        display: block;
      }

      .list {
        padding: 5px 15px;
        font-weight: 100;

        &:hover {
          background-color: #dbe1e8;
        }
      }
    }
  }
}

.mail-input-wrapper {
  padding: 0;
  margin: auto;
  border-radius: 4px;
  border: 1px solid #aeafb1;
}

.mail-username-input {
  text-align: center;
}

.focus-none:read-only {
  background-color: transparent;
}

.focus-none:focus {
  outline: 0;
  box-shadow: none;
  border-color: transparent;
  background-color: transparent;
}

.copy-mail {
  position: absolute;
  top: 8px;
  right: 11px;

  &:hover {
    color: blue;
    cursor: pointer;
  }
}

.inbox-sidebar {
  border-right: 1px solid #efefef;

  .title {
    width: 100%;
    display: flex;
    font-weight: bold;
    padding: 6px 15px 2px 0px;

    .listening-signal {
      width: 20px;
      height: 20px;
      margin-top: 0px;
      display: inline-block;
    }
  }

  .user-email {
    align-self: flex-end;
    padding-bottom: 5px;
  }

  .new-email {
    align-self: center;
    margin-right: 15px;
  }

  .inbox {
    height: 76vh;
    overflow: hidden;
    overflow-y: auto;
    padding-bottom: 20px;

    &::-webkit-scrollbar {
      background-color: #fff;
      width: 16px;
    }

    &::-webkit-scrollbar-track {
      background-color: #fff;
    }
    &::-webkit-scrollbar-track:hover {
      background-color: #f4f4f4;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #babac0;
      border-radius: 16px;
      border: 5px solid #fff;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #a0a0a5;
      border: 4px solid #f4f4f4;
    }

    &::-webkit-scrollbar-button {
      display: block;
    }
  }
}

.inbox-row {
  cursor: pointer;
  padding: 10px 15px;
  color: rgb(75, 75, 75);
  border-bottom: 1px solid #efefef;

  &:hover {
    color: #0e3c65 !important;
    background-color: rgb(207, 224, 250);
  }

  .email-date-time {
    font-size: 11px;
    align-self: center;
  }

  div > .subject {
    color: rgb(150, 148, 148);
  }
}

.email-view {
  height: 86vh;
  overflow: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
  }
  &::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 5px solid #fff;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 4px solid #f4f4f4;
  }

  &::-webkit-scrollbar-button {
    display: block;
  }
}

.empty-email-content {
  height: 63vh;
  display: flex;
  align-content: center;

  .empty-icon {
    display: block;
    line-height: 0;
    font-size: 100px;
    align-self: center;
  }

  .text {
    align-self: center;
  }
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
